.dtbcache.v2
0186d6df-65d2-47e0-b4df-1d5b2250711d.vsidx
40c1d83f-28f1-40d5-a879-e341e8893069.vsidx
71e8dec6-1518-4928-8849-8189e67aca87.vsidx
ae74f528-738c-4e51-9704-57ea77187f05.vsidx
bd9180d1-6d94-47ba-b5d3-5dcb3276ad72.vsidx
.suo
DocumentLayout.json
CalculatorCS.deps.json
CalculatorCS.dll
CalculatorCS.exe
CalculatorCS.pdb
CalculatorCS.runtimeconfig.json
CalculatorCS.csproj.nuget.dgspec.json
CalculatorCS.csproj.nuget.g.props
CalculatorCS.csproj.nuget.g.targets
.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CalculatorCS.AssemblyInfo.cs
CalculatorCS.AssemblyInfoInputs.cache
CalculatorCS.FormCalculator.resources
CalculatorCS.GeneratedMSBuildEditorConfig.editorconfig
CalculatorCS.GlobalUsings.g.cs
CalculatorCS.assets.cache
CalculatorCS.csproj.BuildWithSkipAnalyzers
CalculatorCS.csproj.CoreCompileInputs.cache
CalculatorCS.csproj.FileListAbsolute.txt
CalculatorCS.csproj.GenerateResource.cache
CalculatorCS.designer.deps.json
CalculatorCS.designer.runtimeconfig.json
CalculatorCS.genruntimeconfig.cache
apphost.exe
project.assets.json
project.nuget.cache
/*.user
*.vsidx
